html, body {
    margin: 0;
    height: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}

.france {
    width: 300px;
    height: 200px;
}

.tittle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-wrap: wrap;
}


.second-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px;
    flex-wrap: wrap;
}

.world {
    width: 50%;
}

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.fourht-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news {
    width:70%;

}

@media all and (min-width: 577px) and (max-width: 768px) {
    .third-section {
        flex-wrap: wrap;
    }
    .fouth-section {
        flex-wrap: wrap;
    }
}